ul li {display: block;}
ul {padding-inline-start: 20px;}
.customList li .customListElement {margin-bottom: 10px;display: block;box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);border-radius: 5px;padding: 10px 10px;font-size: 14px;}
